.buzzer-container {
  text-align: center;
  height: 90vw;
  width: 94vw;
  background-color: white;
  margin: 2vw;
  padding: 2vw;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}

.buzzer__last-user {
  font-size: 20px;
  font-weight: 700;
}

.buzzer__image {
  position: absolute;
  top: 18.5%;
  left: 23.6%;
  width: 50vw;
}

.buzzer__progress-bar {
  position: absolute;
  top: 13.6%;
  left: 18%;
  width: 55vw;
}

.buzzer__image:active {
  animation: bounce 0.3s linear;
}

@keyframes bounce {
  0% {
    width: 50vw;
    height: 25vh;
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(8vh);
    width: 50vw;
    height: 15vh;
  }
  100% {
    transform: translateY(0vh);
    width: 50vw;
    height: 25vh;
  }
}

.buzzer__timer {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  /* bottom: 2%; */
  /* display: inline-block; */

  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 80%;
  bottom: 0;
}
