.chat-container {
  background-color: #b2c7d9;
}

.chat__screen {
  /* position: fixed; */
  top: 150vw;
  left: 0vw;
  margin: 2vw;
  padding: 2vw;
  height: 900vw;
  width: 94vw;
  display: inline-block;
}

.incomming-message {
}

.sent-message {
}

.chat__write {
  position: fixed;
  bottom: 0vh;
  width: 100%;
  /* margin: 0 auto; */
  padding: 10px 12px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 0px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 0px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}
